body{

    background-image: url(../../img/beauty-woman-skin-care-beautiful-female-hand-touch-8B5MWG9\ 1.png), url(../../img/background.png);
    background-size:  80%, 100% ;
    background-repeat: no-repeat;
    background-position:  100% 30px, top;


}
main{

    margin-left: 100px;
    margin-top: 50px;
}
section.title{

    width: 48%;
    h1{
        font-size: 50px;
        color: $color-blue;
        margin-bottom: 15px;

    }
    p{
        color: $color-grey;
        margin-bottom: 15px;
    }
  
}
div.botones{
    ul{
        display: flex;
        align-items: center;
        list-style: none;
        a{
            display: flex;
            align-items: center; 
            text-decoration: none;
            color: $color-blue;
            &.book{
                background-color: $color-blue;
                color: white;
                padding: 10px 28px;
                border-radius: 23px;
            }
        }
        
        
    }
}
section.articles{
    background-color: white;
    width: 36%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    padding: 20px;
    column-gap: 20px;
    h2{
        font-size: 30px;
        color: $color-blue;
        text-align: center;
        font-weight: 350;
    }
    p{
        display: flex;
        font-size: 12px;
        justify-content: center;
        color: $color-grey;
    }
}
div.div1{
    width: 250px;
    font-size: 12px;
    background-color: rgba(255, 255, 255, 0.441);
    position: absolute;
    border-radius: 12px;
    padding: 10px;
    top: 300px;
    right: 20px;

}
div.div2{
    width: 250px;
    font-size: 12px;
    background-color: rgba(255, 255, 255, 0.441);
    position: absolute;
    border-radius: 12px;
    padding: 10px;
    top: 500px;
    right: 190px;

}